<!--  header  -->
<div class="header-page">
</div>
<!-- Build -->
<section id="build">
  <div class="container">
    <h1>Our Build</h1>
    <div class="row">
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <a href="/berserker">
            <img src="../../../assets/img/Spec_image_Berserker.jpg" class="img-responsive">
          </a>
          <h2>Berserker</h2>
        </div>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <a href="/firebrand">
            <img src="../../../assets/img/Firebrand.jpg" class="img-responsive">
          </a>
          <h2>Firebrand</h2>
        </div>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <a href="/renegade">
            <img src="../../../assets/img/Spec_image_Renegade.jpg" class="img-responsive">
          </a>
          <h2>Renegade</h2>
        </div>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <a href="/soulbeast">
            <img src="../../../assets/img/Spec_image_Soulbeast.jpg" class="img-responsive">
          </a>
          <h2>Soulbeast</h2>
        </div>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <a href="/weaver">
            <img src="../../../assets/img/Spec_image_Weaver.jpg" class="img-responsive">
          </a>
          <h2>Weaver</h2>
        </div>
      </div>
    </div>
  </div>
</section>
