<!-- Presentation       -->
<section id="presentation">
  <div class="container">
    <h1>About us</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam vestibulum sit amet libero ac ullamcorper.
      Nam bibendum, nisi at consectetur suscipit, velit massa scelerisque nisl, in dapibus quam ligula vitae ipsum.
      Donec bibendum, tellus vel tempor tempor, lacus sem mattis quam, eget porttitor augue orci posuere.
    </p>
  </div>
</section>
<!-- Members   -->
<section id="members">
  <div class="container">
    <h1>Our Members</h1>
    <div class="row">
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <img src="../../../assets/img/banana.jpg" class="img-responsive">
          <ul>
            <li><a href="#"><i class="fas fa-user-circle"></i></a>
              <div class="text">Baki.8050</div>
            </li>
            <li><a href="#"><i class="fab fa-discord"></i></a>
              <div class="text">baki</div>
            </li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a>
              <div class="text">bababki</div>
            </li>
            <li><a href="#"><i class="fa fa-twitch"></i></a>
              <div class="text"></div>
            </li>
          </ul>
        </div>
        <h2>Baki</h2>
        <h3>Berserker</h3>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <img src="../../../assets/img/banana.jpg" class="img-responsive">
          <ul>
            <li><a href="#"><i class="fas fa-user-circle"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fab fa-discord"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-twitch"></i></a>
              <div class="text"></div>
            </li>
          </ul>
        </div>
        <h2>SLifeR</h2>
        <h3>Firebrand</h3>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <img src="../../../assets/img/banana.jpg" class="img-responsive">
          <ul>
            <li><a href="#"><i class="fas fa-user-circle"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fab fa-discord"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-twitch"></i></a>
              <div class="text"></div>
            </li>
          </ul>
        </div>
        <h2>Lasse - Sophie Benoit</h2>
        <h3>Renegade</h3>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <img src="../../../assets/img/banana.jpg" class="img-responsive">
          <ul>
            <li><a href="#"><i class="fas fa-user-circle"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fab fa-discord"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-twitch"></i></a>
              <div class="text"></div>
            </li>
          </ul>
        </div>
        <h2>Mysterious Banana</h2>
        <h3>Soulbeast</h3>
      </div>
      <div class="col-md-2_4 profile-pic text-center">
        <div class="img-box">
          <img src="../../../assets/img/woneguns.jpg" class="img-responsive">
          <ul>
            <li><a href="#"><i class="fas fa-user-circle"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fab fa-discord"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a>
              <div class="text"></div>
            </li>
            <li><a href="#"><i class="fa fa-twitch"></i></a>
              <div class="text"></div>
            </li>
          </ul>
        </div>
        <h2>Woneguns</h2>
        <h3>Weaver</h3>
      </div>
    </div>
  </div>
</section>
